body {
	width: 100%;
	height: 100%;
	background-color: white;
}
/*----Fonts----*/
@font-face {
    font-family: unison;
	src:url(../fonts/Uni%20Sans%20Heavy.otf);
}
@font-face {
    font-family: unisonitralic;
	src:url(../fonts/Uni%20Sans%20Heavy%20Italic.otf);
}
@font-face {
    font-family: unisonthin;
	src:url(../fonts/Uni%20Sans%20Thin.otf);
}
@font-face {
    font-family: unisonthinitalic;
	src:url(../fonts/Uni%20Sans%20Thin%20Italic.otf);
}
/*-------------*/

/*----Navigation_Bar----*/
#navigationbar {
	width: 100%;
	display: block;
	position: relative;
	background: #222;
	top: -100px;
	height: 100px;
	position: fixed;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;	
}
#navigationbar nav ul li{
	display: inline;
	margin-left: 50px;
	padding: 10px 12px;
}
#navigationbar nav ul li:hover{
	 border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
    border-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#navigationbar nav ul li a{
	color: white;
	text-decoration: none;
}
#navigationbar nav {
	font-family: unisonthin;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	width: 100%;
	max-width: 980px;
}
#navigationbar nav ul{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 15px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
/*----Mobbile----*/
#navigationbarMobbile {
	width: 0%;
	height: 0%;
	display: block;
	position: relative;
	background: #222;
	top: 0px;
	position: fixed;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;	
}
.IcondivMobbile span {
	position: relative;
	display: block;
	width: 0%;
	height: 0%;
	margin-top: 0px;
	float: right;
	margin-right: 0px;
	    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
#TestMobbile {
	width: 0%;
	height: 0%;
}
.IcondivMobbile {
	width: 0%;
	position: fixed;
	z-index: 0;
	font-size: 0px;
}
/*----Navigation_Bar_Style_End----*/

/*----First_Slide_Style----*/
.First {
	position: relative;
	background-image: url(../img/firstslideblurbg.jpg); /*Background*/
	background-attachment: fixed;
	width: 100%;
	height: 955px;
	top: 0;
	left: 0;
}
.First_Slide_First_Div img { /*Logo*/
	padding-bottom: 10px;

}
.First_Slide_First_Div_Border { /*Text_Border_Div*/
	width: 120px;
	height: 3px;
	background-color: black;
	margin: 0 auto;
	position: relative;
}
.First_Slide_First_Div p { /*First_Slide_Down_Text - We make...*/
	font-size:68px;
	padding-bottom: 20px;
	font-family: unisonthin;
	font-weight: bold;

}
.First_Slide_First_Div h1 { /*SContract*/
	font-size: 80px;
	color: #ba6767;
}
.First_Slide_First_Div { /*Container_OF_LOGO_H1_P*/
	position: relative;
	color: black;
	width: 100%;
	top: 30%;
	margin: 0 auto;
	text-align: center;

}
/*----END_OF_FIRST_SLIDE_STYLE----*/

/*----Div_Between_SlideONE_SlideTWO----*/
#Help { /*The_Main_Container*/
	width: 100%;
	height: 200px;
	position: relative;
	background-color: #3d4045;
	text-align: center;
	color: white;
	font-family: unisonthin;
	font-weight: bold;
}
#Help #helpdiv { /*The_Container_OF_P_AND_Style_OF_P*/
	width: 100%;
	position: relative;
	top: 80px;
	height: 40px;
	font-size: 40px;
}
/*----End_Of_Middle_Div----*/

#iconnavigationbardiv {
	display: block;
	padding-top:0px;
	position: relative;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.Icondiv {
	width: 100%;
	position: fixed;
	z-index: 10;
	font-size: 50px;
}
.Icondiv span {
	position: relative;
	display: block;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
/*----Second_Slide_Containers----*/
.SecondSlide { /*The_Main_Container_Of_Middle_And_Down*/
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #e5e5e5;
}
#Second { /*Information_Container*/
	position: relative;
	width: 100%;
	height: 800px;
	top: 0;
	left: 0;
}
#Second_Slide_Information_Div { /*Second_Slide_Information_Text_Container*/
	position: relative;
	margin-top: 60px;
	width: 100%;
	float: left;
	text-align: center;
	height: 200px;
}
#borderdiv { /*Poinet_Div_For_Clicks*/
	position: relative;
	margin-top: 10px;
	width: 33.33333333%;
	float: left;
	background-color: red;
	height: 6px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*----End_Of_Second_Slide_Containers----*/

/*Second_Container_First_Slide_ALL*/
#Second_Slide_First_Div {
	position: relative;
	padding: 0 auto;
	cursor: pointer;
	width: 33.33333333%;
	height: 400px;
	float: left;
	background-color: #69d2e7;
}
#Second_Slide_First_Div_Text {

	width: 100%;
	position: relative;
	margin: 0 auto;
	top:250px;
	text-align: center;
	height: auto;
}
#Second_Slide_First_Div_Text p{
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
#Second_Slide_First_Div_Text_Border {
	width: 40px;
	margin: 0 auto;
	height: 3px;
	background: white;
	-webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

}
#Second_Slide_Information_Test_First {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
font-family: unisonthin;
width: 100%;
height: 200px;
font-weight: bold;
font-size: 34px;
}
/*----End_Second_Container_First_Slide_ALL*/

/*Second_Container_Second_Slide_ALL*/
#Second_Slide_Second_Div {
	width: 33.33333333%;
	padding: 0;
	height: 400px;
	cursor: pointer;
	position: relative;
	float: left;
	background-color: #3a98fe;
}

#Second_Slide_Second_Div_Text {

	width: 100%;
	position: relative;
	margin: 0 auto;
	top:250px;
	text-align: center;
	height: auto;
}

#Second_Slide_Second_Div_Text p{
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}

#Second_Slide_Second_Div_Text_Border {
	width: 0px;
	margin: 0 auto;
	height: 3px;
	background: white;
	-webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

}

#Second_Slide_Information_Test_Second {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
font-family: unisonthin;
width: 0%;
height: 0%;
opacity: 0;
font-weight: bold;
font-size: 0;
}

/*----End_Second_Container_Second_Slide_ALL*/

/*Second_Container_Third_Slide_ALL*/
#Second_Slide_Third_Div {
	padding: 0;
	height: 400px;
	width: 33.33333333%;
	cursor: pointer;
	position: relative;
	float: left;
	background-color: #5841b8;
}
#Second_Slide_Third_Div_Text {

	width: 100%;
	position: relative;
	margin: 0 auto;
	top:250px;
	text-align: center;
	height: auto;
}
#Second_Slide_Third_Div_Text p{
	font-size: 40px;
	font-weight: bold;
	color: white;
	display: inline-block;
	font-family: unisonthin;

}
#Second_Slide_Third_Div_Text_Border {
	width: 0px;
	margin: 0 auto;
	height: 3px;
	background: white;
	-webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

}
#Second_Slide_Information_Test_Third {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
font-family: unisonthin;
width: 0%;
height: 0%;
opacity: 0;
font-size: 0;
font-weight: bold;
}
/*----End_Second_Container_Third_Slide_ALL*/

/*----?----*/
.First_Icon_Div {
	position: relative;
	width: 128px;
	top: 30%;
	margin: 0 auto;
	text-align: center;
}
.First_Icon_Div img {
	height: 148px;
	width: 128px;
}
/*----?----*/

/*----Third Slide----*/
#Third {
	position: relative;
	width: 100%;
	background-color: #f0f0f0;
	font-family: unisonthin;
	font-weight: bold;
}
#Third #FunctionInformation {
	position: relative;
	width: 100%;
	padding-bottom: 80px;
	text-align: center;
}
#Third #FunctionInformation #AboutFunctions {
	width: 100%;
	display: inline-block;
	margin-top: 100px;
	height: 40px;
	font-size: 40px;
	padding-bottom: 40px;
}
#Third #FunctionInformation #AboutFunctionsInformation {
	margin:0 auto;
	width: 40%;
	padding-top: 60px;
	display: inline-block;
	height: 40px;
	font-size: 25px;
}
#AboutFunctionsBorder {
	position: relative;
	top: 30px;
	width: 40px;
	background-color: black;
	height: 3px;
	margin:0 auto;
}
/*----End Third Slide----*/

/*----Fourth Slide----*/
#Fourth {
	width: 100%;
	position: relative;
	height: 200px;
	background: url('../img/beforeteamus2.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: unisonthin;
	text-align: center;

}
#Fourth p {
	font-size: 40px;
	font-weight: bold;
	margin-top:70px;
	display: inline-block;
}
/*----End Fourth Slide----*/

/*----Fifth Slide----*/
#Fifth {
	width: 100%;
	position: relative;
	background-color: #EB7260;
	font-family: unisonthin;
	text-align: center;
	color: white;
	
}
#Fifth #TeamUs {
	width: 100%;
	display: inline-block;
	margin-top: 40px;
	height: 40px;
	font-size: 40px;
	padding-bottom: 40px;
}

#TeamUsBorder {
	position: relative;
	top: 30px;
	width: 40px;
	background-color: white;
	height: 2px;
	margin:0 auto;
}
.TeamUsImages {
	width: 140px;
	height: 140px;
	border-radius: 100%;
}
#TeamUsInformation {
	padding-top: 100px;
	position: relative;
}
.Names {
	padding-top: 10px;
	font-size: 30px;
}
.Developer {
	font-size: 20px;
}
.Developer em {
	font-style: italic;
}
.SomethingAboutMe {
	font-family: unisonthin;
	font-weight: bold;
	font-size: 20px;
}
.SomethingAboutMeBorder {
	width: 40px;
	background-color: white;
	height: 2px;
	margin:0 auto;
}
.AboutMe {
	padding-top: 10px;
	font-size: 20px;
	padding-bottom: 20px;
}
/*----End Fifth Slide----*/

/*----Sexth Slide----*/
#Sexth {
	width: 100%;
	position: relative;
	height: 200px;
	background: url('../img/beforeteamus2.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: unisonthin;
	text-align: center;

}

/*----End Sexth Slide----*/

/*----Seventh Slide----*/
#Seventh {
	width: 100%;
	position: relative;
	background: #0D1116;
	font-family: unisonthin;
	text-align: center;
	color: white;

}
.ContactUS {
	padding-top: 30px;
	font-family: unisonthin;
	font-weight: bold;
	font-size: 40px;
}
.ContactUSBorder {
	width: 80px;
	background-color: white;
	height: 2px;
	margin:0 auto;
}
#ContactUsForm {
	width: 50%;
	margin: 0 auto;
	padding-top: 80px;
	box-sizing: border-box;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.row {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 40px;
}
.ContactUsFormInputsDivName {
	float: left;
	
	width: 48%;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
	border-radius: 6px;
	border: 1px solid transparent;
}

.ContactUsFormInputsDivEmail {
	float: right;
	
	width: 48%;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
	border-radius: 6px;
	border: 1px solid transparent;
}

.Inputs {
	background: #293646;
	color: #fff;
	width: 100%;
	margin: 0!important;
	font-size: 25px;
	line-height: 30px;
	height: 60px;
	padding: 20px;
	vertical-align: middle;
	border-radius: 6px;
	border: 0;
	font-family: Ariel;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.Inputs:focus {
	background:#fff;
	color:#4c4f54;
	outline:0;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.formtextarea {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	width: 100%;
}
.InputsTextArea {
	background: #293646;
	color: #fff;
	width: 100%;
	margin: 0!important;
	font-size: 25px;
	line-height: 30px;
	height: 60px;
	padding: 20px;
	vertical-align: middle;
	border-radius: 6px;
	border: 0;
	font-family: Ariel;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.InputsTextArea:focus {
	background:#fff;
	color:#4c4f54;
	outline:0;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.ButtonHolder {
	padding-top: 20px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding-bottom: 30px;
}
.ButtonHolder input[type=submit] {
	font-size: 25px;
	margin: 0 auto;
	line-height: 20px;
	font-weight: 400px;
	background-color: #004370;
	color: #fff;
	border: 0;
	height: 60px;
	padding: 0 80px;
	border-radius: 30px;
	cursor: pointer;
	outline: 0;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
.ButtonHolder input[type=submit]:hover {
	background-color: #763930;
	color: black;
}
/*----End Seventh Slide----*/
@media screen and (max-width: 550px) {
	.ButtonHolder input[type=submit] {

	padding: 0 40px;

   }
}
@media screen and (max-width: 410px) {
	.ButtonHolder input[type=submit] {

	padding: 0 30px;

   }
}
@media screen and (max-width: 1115px) {
	.ContactUsFormInputsDivName {
	float: left;
	padding-right: 0px;
	padding-bottom: 20px;
	width: 100%;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
	border-radius: 6px;
	border: 1px solid transparent;
}
	.ContactUsFormInputsDivEmail {
	float: left;
	padding-right: 0px;
	padding-bottom: 20px;
	width: 100%;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
	border-radius: 6px;
	border: 1px solid transparent;
}
}
@media screen and (max-width: 710px) {
#ContactUsForm {
	width: 90%;
	margin: 0 auto;
	padding-top: 80px;
	box-sizing: border-box;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-ms-transition:all .3s linear;
	transition:all .3s linear;
}
}
@media screen and (max-width: 960px) {
#navigationbar {
	width: 0%;
	height: 0%;
	display: block;
	position: relative;
	background: #222;
	top: 0px;
	position: fixed;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;	
}
.Icondiv span {
	position: relative;
	display: block;
	width: 0%;
	height: 0%;
	margin-top: 0px;
	float: right;
	margin-right: 0px;
	    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
#Test {
	width: 0%;
	height: 0%;
}
.Icondiv {
	width: 0%;
	position: fixed;
	z-index: 0;
	font-size: 0px;
}
/*----Mobbile----*/
.IcondivMobbile {
	width: 100%;
	position: fixed;
	z-index: 10;
	font-size: 50px;
}
.IcondivMobbile span {
	position: absolute;
	display: block;
	margin-top: 25px;
	right: 68px;
	color: #222;
}
#navigationbarMobbile {
	width: 100%;
	display: block;
	position: relative;
	background: #222;
	top:-320px;
	height: 320px;
	position: fixed;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;	
}
#navigationbarMobbile nav ul li{
	display: inline;
	margin-left: 50px;
	padding: 10px 12px;
}
#navigationbarMobbile nav ul li:hover{
	 border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
    border-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#navigationbarMobbile nav ul li a{
	color: white;
	text-decoration: none;
}
#navigationbarMobbile nav {
	font-family: unisonthin;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	width: 100%;
	max-width: 980px;
}
#navigationbarMobbile nav ul{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 15px;
	width: 350px;
	left: -20px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
}
@media screen and (max-width: 730px) {
	#Second_Slide_First_Div_Text p{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
    #Second_Slide_Second_Div_Text p{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
    #Second_Slide_Third_Div_Text p{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
}
@media screen and (max-width: 360px) {
	#Second_Slide_First_Div_Text p{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
    #Second_Slide_Second_Div_Text p{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
    #Second_Slide_Third_Div_Text p{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	color: white;
	font-family: unisonthin;

}
}
@media screen and (max-width: 524px) {
	.First_Slide_First_Div p { /*First_Slide_Down_Text - We make...*/
	font-size:38px;
	padding-bottom: 20px;
	font-family: unisonthin;
	font-weight: bold;

}
    .First_Slide_First_Div h1 { /*SContract*/
	font-size: 40px;
	color: #ba6767;
}
#navigationbarMobbile nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 30px;
}
#navigationbarMobbile nav ul{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 15px;
	text-align: center;
	width: 200px;
	left: -20px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
}