body {
	width: 100%;
	height: 100%;
	background-color: white;
}
/*----Fonts----*/
@font-face {
    font-family: unison;
	src:url(../fonts/Uni%20Sans%20Heavy.otf);
}
@font-face {
    font-family: unisonitralic;
	src:url(../fonts/Uni%20Sans%20Heavy%20Italic.otf);
}
@font-face {
    font-family: unisonthin;
	src:url(../fonts/Uni%20Sans%20Thin.otf);
}
@font-face {
    font-family: unisonthinitalic;
	src:url(../fonts/Uni%20Sans%20Thin%20Italic.otf);
}
/*-------------*/
.navbar {
	margin-bottom: 0px;
}
.FirstHome {
	width: 100%;
	position: relative;
	height: 400px;
	background: url('../img/homenews3.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: unisonthin;
	text-align: center;
}
.FirstHome #FirstHomeTextHolderDiv {
	position: relative;
	top: 40px;
	width: auto;
	height: auto;
	text-align: center;
}
.FirstHome #FirstHomeTextHolderDiv #FirstWhat {
	font-size: 70px;
	font-weight: bolder;
	color: black;
}
.FirstHome #FirstHomeTextHolderDiv #SecondSpan {
	position: relative;
	top: -40px;
	width: 10px;
	height: 20px;
	background-color: #473E3F;
	-webkit-animation: SecondSpan 1.2s ease-in-out;
    animation: SecondSpan 1.2s ease-in-out;
}
@keyframes SecondSpan {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(0deg) rotateY(360deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
  }
}
.FirstHome #FirstHomeTextHolderDiv #ThirdIs {
	font-size: 40px;
	font-weight: bolder;
	color: black;
}
.FirstHome #FirstHomeTextHolderDiv #FirstPNew {
	font-size: 100px;
	font-weight: bolder;
	color: black;
}
.FirstHomeSecond {
	width: 100%;
	position: relative;
	height: 100px;
	background: url('../img/homenews3.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 49% 100%, 49% 0, 51% 0, 51% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 49% 100%, 49% 0, 51% 0, 51% 100%, 100% 100%, 100% 0%);
}

.SecondHomeNews {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #7ac673;
	text-align: center;
	color: white;
	font-family: unisonthin;
	font-weight: bold;
}
.SecondHomeNews p{
	position: relative;
	width: 100%;
	top: 5px;
	font-size: 40px;
}
.SecondHomeNewsTriangle {
	width: 40px;
	height: 20px;
	margin: 0 auto;
	background: url('../img/homenews3.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.ThirdNews {
	position: relative;
	margin: 0 auto;
	font-family: unisonthin;
	width: 98%;
	border-bottom: 1px solid #d3d3d3;

}

.ThirdNews #News {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.ThirdNews #News #First {
	margin-left: 0;
	color: #949494;
	font-size: 30px;
}
.ThirdNews #News #Date {
	margin-left: 0;
	color: #949494;
	font-size: 20px;
}
.ThirdNews #News #Second {
	text-align: center;
	font-size: 30px;
	font-style: italic;
}
.ThirdNews #News #Second strong {
	font-size: 40px;
	color: #949494;
	font-family: Ariel;
	font-style: italic;
}