#Name {
border-bottom: 2px solid rgba(0, 0, 0, 0.1);
padding-bottom: 5px;
}
#Country {
padding-bottom: 5px;
padding-top: 5px;
border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#Number {
padding-bottom: 5px;
padding-top: 5px;
border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#Date {
	padding-top: 5px;
}
